body {
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-width: 1000px;
    height: 95vw;
    margin: 3vw auto;
    background-color: #adadad;
    font-family: sans-serif;
}

.title {
    margin: 5vw auto 2vw auto;
    text-align: center;
    color: #2e1114;
    font-size: 2rem;
}

p {
    margin: 0 auto 10vw auto;
    text-align: center;
    font-size: 1rem;
    color: #2e1114;
}

.btn-computer,
.btn-player {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-computer img {
    opacity: 0.5;
}

#highlighted {
    background: #64485c;
    border: 0.2vw solid yellow;
    color: #adadad;
    transform: scale(1.1);
}

#intermediate,
#running-score,
#play-again {
    font-size: large;
    margin: 5px auto;
}

#final {
    font-size: xx-large;
    margin: 16px auto;
}

img {
    width: 6rem;
    height: 6rem;
    border: 0.5px solid grey;
    margin-left: 15px;
    border-radius: 6px;
    padding: 5px;
}

.btn-player {
    flex: display;
    flex-direction: row;
    margin-bottom: 20px;
}

.player-id {
    font-weight: bold;
    font-size: 1.3rem;
    width: 130px;
    margin-top: auto;
    margin-bottom: auto;
}

.result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}